<div class="page-background">
    <div class="container_custom">
        <div class="card glass-card shadow-lg rounded-3">
            <div class="card-body p-lg-5 text-center">
                
                <h1 class="display-4 text-light mt-4">Welcome to SignalChat</h1>
                <p class="lead subtext mb-4">Join a room to start chatting</p>

                <button routerLink="/join-room" type="submit" class="btn btn-modern btn-lg px-4 py-2 rounded-pill mb-5 w-75">Join Room Now</button>

            </div>
        </div>
    </div>
</div>
