<div class="page-background">
    <div class="container">

        <div class="chat_header">
            <h3 class="text-center my-2 ms-3">Welcome to <span class="text-primary">{{roomName}}</span> Group</h3>
            <button (click)="leaveChat()" class="btn btn-danger me-3">Leave Chat</button>
        </div>

        <div class="messaging">
            <div class="inbox_msg">
                <div class="inbox_people">

                    <div class="recent_heading">
                        <h4 class="text-black">Connected Users</h4>
                    </div>

                    <div class="inbox_chat">
                        <ng-container *ngFor="let user of this.chatService.connectedUsers$ | async">
                            <div class="chat_list">
                                <div class="chat_people">
                                    <div class="chat_img"> <img src="../../../assets/images/avatar.jpg" alt="{{user}}">
                                    </div>
                                    <div class="chat_ib mt-3">
                                        <h5>{{user}} <span class="online"></span></h5>
                                    </div>
                                </div>
                            </div>
                        </ng-container>
                    </div>
                </div>

                <div class="mesgs">
                    <div #scrollMe class="msg_history">
                        <ng-container *ngFor="let message of this.chatService.messages$ | async">

                            <div
                                [ngClass]="{'incoming_msg': message.user !== loggedInUsername, 'outgoing_msg': message.user === loggedInUsername}">

                                <!-- Image in chat -->
                                <div *ngIf="message.user != loggedInUsername" class="incoming_msg_img">
                                    <img *ngIf="message.user === 'SignalChat Bot'"
                                        src="../../../assets/images/avatar-bot.png" alt="{{message.user}}">
                                    <img *ngIf="message.user !== 'SignalChat Bot'"
                                        src="../../../assets/images/avatar.jpg" alt="{{message.user}}">
                                </div>

                                <!-- Received Message -->
                                <div *ngIf="message.user != loggedInUsername" class="received_msg">
                                    <!-- Button "Show Message" - for disappearing -->
                                    <div *ngIf="message.disappearAfter && !visibleMessages.has(message.id)">
                                        <button class="showMessage-button"
                                            (click)="this.chatService.onClickViewMessage(message); this.chatService.showMessage(message.id);">Show
                                            Message</button>
                                        <span class="time_date"><span class="fw-bold">{{message.user}}</span> |
                                            {{message.messageTime | date:
                                            'medium'}}</span>
                                    </div>

                                    <!-- Received Message -->
                                    <div *ngIf="message.disappearAfter == null || visibleMessages.has(message.id)"
                                        class="received_withd_msg">
                                        <p>{{message.content}}</p>
                                        <span class="time_date"><span class="fw-bold">{{message.user}}</span> |
                                            {{message.messageTime | date:
                                            'medium'}}</span>
                                    </div>

                                    <!-- Countdown Timer - for disappearing -->
                                    <div *ngIf="message.disappearAfter == null || visibleMessages.has(message.id)">
                                        <app-countdown-timer [message]="message"></app-countdown-timer>
                                    </div>

                                </div>

                                <!-- My Sent Message -->
                                <div *ngIf="message.user === loggedInUsername" class="sent_msg">
                                    <p>{{message.content}}</p>
                                    <span class="time_date"><span class="fw-bold">{{message.user}}</span> |
                                        {{message.messageTime | date:
                                        'medium'}}</span>

                                    <!-- Countdown Timer - for disappearing -->
                                    <div *ngIf="message.disappearAfter">
                                        <app-countdown-timer [message]="message"></app-countdown-timer>
                                    </div>
                                </div>

                            </div>
                        </ng-container>
                    </div>

                    <div class="type_msg">
                        <div class="input_msg_write chat-input">

                            <!-- Message Input Field -->
                            <input type="text" class="write_msg" (keyup.enter)="sendMessage()"
                                (input)="onInputChange($any($event.target).value)" (focus)="onFocusChange(true)"
                                (focusout)="onFocusChange(false)"
                                *ngIf="{data: this.chatService.typingOptions$ | async} as typingOptions"
                                [placeholder]="typingOptions.data?.isTyping ? 'Someone is typing...' : 'Message...'"
                                [formControl]="sendMessageInput" />

                            <!-- Timer Icon and Options -->
                            <button class="icon-button timer-icon" (click)="toggleTimerOptions()" type="button">
                                ⏱️
                            </button>
                            <div *ngIf="showTimerOptions" class="timer-options">
                                <button *ngFor="let time of timerOptions" (click)="selectDisappearingTime(time.value)"
                                    [class.active]="disappearTime === time.value" class="timer-option">{{ time.label }}
                                </button>
                            </div>

                            <!-- Send Button -->
                            <button [disabled]="sendMessageInput.invalid" (click)="sendMessage()"
                                class="btn btn-primary send-button">
                                Send
                            </button>

                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>

</div>